body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #b30404;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 80px;
}