
/* Width */

img {
    width:  200px;
}


/* Display: Block, Inline */

span {
    display:  block;
}

/* Margin */

div {
    margin:  20px;
}


/* Classes */
.greeting {
    color:  blue;
    font-size:  50px;
}

/* Border | Border radius */
div h1 {
    border: 2px solid red;
    border-radius: 10px;
}


/* Box model

- Margin
- Border
- Padding
- Content

*/
